.access {
    position: relative;
    &::before {
        content: "";
        background-color: $subcolor;
        position: absolute;
        left: 0;
        bottom: 206px;
        width: 980px;
        height: 2230px;
        z-index: -1;
    }
    &__inner {
        width: 1180/1366*100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        @include title(#ffffff);
        margin-top: 80px;
        margin-bottom: 80px;
    }
    &__address {
        color: #ffffff;
        padding-bottom: 40px;
        width: 326px;
    }
    &__map {
        margin: 130px 0;
        box-shadow: 0px 0px 10px #3E3E3E33;
    }
    .btn-sp {
        display: none;
    }
}
@include media(m) {
    .access {
        position: relative;
        &::before {
            content: "";
            background-color: $subcolor;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1984x;
            z-index: -1;
        }
        &__inner {
            width: 343/375*100%;
            margin: 0 auto;
            display: block;
            padding-bottom: 40px;
        }
        &__title {
            @include title(#ffffff);
            font-size: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        &__address {
            font-size: 12px;
            padding-bottom: 19px;
        }
        &__map {
            margin: 0;
            box-shadow: 0px 0px 10px #3E3E3E33;
            width: 100%;
        }
        .btn-sp {
            display: block;
            text-align: center;
            margin-top: 40px;
        }
        .btn-pc {
            display: none;
        }
    }
}