//全体-------------------------------------------------
body {
    color: $color-sub;									
    font-family: '游ゴシック', 'Montserrat', sans-serif;
    background-color: $color-main;
    line-height: 1.5;
    font-size: $basesize;
}
//リンク-------------------------------------------------
a {
    text-decoration: none;
    color: $color-sub;
}
//イメージ------------------------------------------------
img {
    max-width: 100%;  //フルーイドイメージ
    height: auto;     //親要素に合わせて自動で拡大縮小
}

