.faqs {
    background-image: url(../img/sunyu-kim-1053375-unsplash.png);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    &__title {
        @include title();
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

.faq-accordion {
    margin: 0 109px 40px auto;
    width: 616px;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    padding: 18px;

    &__question {
        display: block;
        width: 100%;
        font-weight: bold;
        color: $subcolor;
        position: relative;
        padding-left: 13px + 26;
        line-height: 26px;
        cursor: pointer;
        outline: 0;
        background-color: #fff;
        text-align: left;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 15px;
            height: 3px;
            background-color: $blue;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 7.5px;
            display: block;
            width: 3px;
            height: 15px;
            background-color: $blue;
            transform: translateY(-50%);
        }
    }
    &__icon {
        color: #fff;
        background-color: $blue;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        text-align: center;
    }
    &__answer {
        border-radius: 7px;
        background-color: #3B69FF33;
        margin-top: 21px;
        padding: 18px 14px;
    }
  }
  .js-faq {
      .active {
        .faq-accordion__question::after {
            content: none;
        }
      }
      &__A {
        display: none;
      }
  }
//メディアクエリ--------------------------------
@include media(m) {
    .faqs {
        padding-bottom: 10px;
        &__title {
            @include title();
            font-size: $title-subheading;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }  
    .faq-accordion {
        margin: 0 auto 30px;
        width: 343/375*100%;
        
      }
}