
//ボタン------------------------------------------
.btn {
    display: inline-block;
    padding: 20px 86px;
    font-size: 20px;
    font-weight: 600;
}
//汎用ボタン
.btn--bright {
    color: $subcolor;
    background-color: #fff;
    border: 1px solid #707070;
    &:hover {
        color: #fff;
        background-color: $subcolor;
        border: 1px solid #FFFFFF;
    }
}
.btn--bark {
    color: #fff;
    background-color: $subcolor;
    border: 1px solid #FFFFFF;
    &:hover {
        color: $subcolor;
        background-color: #fff;
        border: 1px solid #707070;
    }
}
//コンバージョンボタン
.CV-btn {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    padding: 14px 48px;
    color:#FFFFFF;
    background-color: $orenge;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #3E3E3E33;

    &:hover {
        background-color: #f18900;
    }
    &:disabled {
        background-color: #b2b2b2;
    }
}
