.news {
    background-color: $maincolor;

    &__box {
        width: 1180/1366*100%;
        max-width: 1180px;
        padding: 0 15px;
        margin: 130px auto;
        background-color: #fff;
        text-align: center;
        box-shadow: 0px 5px 12px #3E3E3E33;
    }

    &__title {
        @include title();
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .btn {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.news-list {
    font-size: 18px;
    border-top: 1px solid #CECDCD;
    margin: 0 50px;
}

.news-item {
    &__time {
        font-weight: 400;
        padding-left: 9.67px;
        padding-right: 60px;
        white-space: nowrap;
    }
    &__category {
        border: 2px solid $blue;
        border-radius: 50px;
        padding: 5px 34px;
        white-space: nowrap;
        background-color: #fff;
        z-index: 999;
    }
    &__text {
        max-width: 607px;
        padding-left: 60px;
        padding-right: 30px;
    }
    &:hover {
        background-color: #ecf0ff;
    }
    padding: 40px 0;
    border-bottom: 1px solid #CECDCD;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    @include linkIcon($subcolor)    
}

//メディアクエリ---------------------------------
@include media(m) {
    .news {
        &__box {
            width: 343/375*100%;
            padding: 0 15px;
            margin: 0 auto; ///////
        }
    
        &__title {
            @include title();
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: $title-subheading;
        }
    
        .btn-wrapper {
            width: 311/343*100%;
            margin: 0 auto;
        }
        .btn {
            width: 100%;
            padding: 20px 0;
        }
    }
    
    .news-list {
        font-size: 14px;
        margin: 0;
    }
    .news-item {
        &__time {
            padding-left: 16px;
            padding-right: 20px;
        }
        &__category {
            padding: 4px 20px;
        }
        &__text {
            padding: 13px 47px 0 16px;
        }

        padding: 40px 0;
        display: block; 
    }
}


