.service {
    background-color: $subcolor;
    text-align: center;
    height: 400px;
    margin-bottom: 255px;
    padding-left: 15px;
    padding-right: 15px;
    &__title {
        @include title(#ffffff);
        margin-top: 80px;
        margin-bottom: 80px;
    } 

    &__box {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;
        height: 321px;
        box-shadow: 0px 5px 12px #3E3E3E33;
    }
    &__category {
        width: 231px;
        h3 {
            font-weight: 600;
            font-size: 20px;
            padding: 20px 0;
        }
        p {
            font-size: 14px;
            text-align: left;
        }
    }
}
//メディアクエリ-----------------------------
@include media(m) {
    .service {
        height: 480px;
        margin-bottom: 548px;
        &__title {
            @include title(#ffffff);
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: $title-subheading;
        } 
        &__box {
            display: block;
            width: 343/375*100%;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__category {
            max-width: 311px;
            margin: 0 auto;
            margin-bottom: 65px;
            &:last-child {
                margin-bottom: 0;
            }
            h3 {
                font-weight: 600;
                font-size: 18px;
                padding: 24px 0;
            }
        }
    }
}