//メイン画像（header含む）-----------------------------------------
.main {
    background-image: url('../img/mv.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 648px;
    position: relative;
}
//トップ----------------------------------------------------------
.top__title {
    width: 524px;
    position: absolute;
    top: 220px;
    right: 109px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}