//メイン画像（header含む）-----------------------------------------
.main {
    background-image: url('../img/mv.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 648px;
    position: relative;
}
//トップ----------------------------------------------------------
.top__title {
    width: 524px;
    position: absolute;
    top: 220px;
    right: 109px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}
//メディアクエリ-----------------------------------------
@include media(m) {
    .top__title {
        max-width: 400px;
        position: static;
        padding-top: 206px;
        margin: 0 auto;
    
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
        .btn-wrapper {
            width: 100%;
            text-align: center;
            // margin: 0 auto;
        }
    }
    
}