@charset "UTF-8";
// 各ファイルのインポート
@import "reset", "setting", "mixin", "base", "module",
        "header", "top", "news", "service", "results", "price",
        "coments", "faqs", "access", "contact", "footer", "floating";
